---
title: A page for JAM Stack application
layout: base.njk
---

<div class="container">
    <h1>Welcome to a JAM stack application</h1>
    {# <div class="vibe">You are great</div> #}

    <div>

  {% for author in authors %}
    <div>
      <h2>{{ author.name }}</h2>
      <img src="{{ author.avatar }}" style="width: 150px" }/>
      <p>{{ author.description }}</p>
      <hr />
    </div>

  {% endfor %}

  </div>
</div>

<script src="/js/vibe.js"></script>