---
title: A page for JAM Stack application
layout: base.njk
---

<div class="container">
    <h1>Hello World!!</h1>
    <div class="vibe">You are great</div>
</div>

<script src="/js/vibe.js"></script>